version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./docker/config/mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - ./docker/config/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:7.0
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redis-init:
    image: redis:7.0
    depends_on:
      - redis
    entrypoint: >
      sh -c "sleep 5 && cat /init.redis | redis-cli -h redis"
    volumes:
      - ./docker/config/redis/init.redis:/init.redis

  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./docker/config/mongo/schema.js:/docker-entrypoint-initdb.d/schema.js
      - ./docker/config/mongo/init.js:/docker-entrypoint-initdb.d/init.js

volumes:
  redis_data:
  mongo_data:
