spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
    include:
      - secret
      - s3
      - constant
  config:
    import: optional:file:.env.${spring.profiles.active}.properties
  jpa:
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    mongodb:
      uri: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_DB}?authSource=admin

    web:
      pageable:
        one-indexed-parameters: true
        max-page-size: 100

  ai:
    openai:
      base-url: https://ollama.yhcho.com/ollama
      api-key: ${OPENAI_API_KEY} # 로컬은 키가 필요 없지만, 라이브러리 검증 통과용으로 입력
      chat:
        options:
          model: ${OPENAI_CHAT_MODEL:exaone3.5:2.4b}

swagger:
  redirect:
    # "/"로 들어왔을 때 최종적으로 리다이렉트될 Swagger UI 경로
    path: /swagger-ui/index.html