spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
    include:
      - secret
      - s3
      - constant
  config:
    import: optional:file:.env.${spring.profiles.active}.properties

  datasource:
    url: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: false

  data:
    mongodb:
      uri: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_DB}?authSource=admin

    web:
      pageable:
        max-page-size: 100

  ai:
    openai:
      base-url: https://api.openai.com
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          #model: ${OPENAI_CHAT_MODEL:exaone3.5:2.4b}
          model: ${OPENAI_CHAT_MODEL:gpt-4o-mini}
      embedding:
        options:
          model: text-embedding-3-small
swagger:
  redirect:
    # "/"로 들어왔을 때 최종적으로 리다이렉트될 Swagger UI 경로
    path: /swagger-ui/index.html

ollama:
  api:
    url: ${OLLAMA_API_URL:http://localhost:11434}
    key: ${OLLAMA_API_KEY:dummy}
    model: ${OLLAMA_MODEL:llama3}